/*-------------------------
	Simple reset
--------------------------*/


/*-------------------------
	General Styles
--------------------------*/



html{
	min-height:100%;
	position:relative;
	
}

body{
	min-height:600px;
}

header, footer{
	display:block;
}



/*-------------------------
	Header Styles
--------------------------*/



header{
	position: relative;
}

header:before,
#dropbox:before{
	display: block;
	content:'';
	height:4px;
	width:100%;
	position: absolute;
	top:0;
	left:0;
}


h1 {
background: #E000FF;
margin: 8px 0;
}
h2
{
    text-align:center;
    }
i {
font-size: 18px;
}


/*-------------------------
	Dropbox Element
--------------------------*/



#dropbox{
	position: relative;
	margin:15px auto;
	overflow: hidden;
    width: 990px;
	border:1px solid #CCC;
}


#dropbox .message
{
	font-size: 13px;
    text-align: center;
    display: block;
    padding:50px 0;
}

#dropbox .message i{
	color:#999;
	font-size:12px;
	font-style:normal;
}

#dropbox:before{
	border-radius:3px 3px 0 0;
}
.btn{
	margin:0 auto;
}
.mid{
	margin:15px auto;
	width: 990px;
	text-align:center;
}

/*-------------------------
	Image Previews
--------------------------*/



#dropbox .preview{
	width:245px;
	height: 215px;
	float:left;
	margin: 55px 0 0 60px;
	position: relative;
	text-align: center;
}

#dropbox .preview img{
	max-width: 240px;
	max-height:180px;
	border:3px solid #fff;
	display: block;
	
	box-shadow:0 0 2px #000;
}

#dropbox .imageHolder{
	display: inline-block;
	position:relative;
}

#dropbox .uploaded{
	position: absolute;
	top:0;
	left:0;
	height:100%;
	width:100%;
	background: url('../img/done.png') no-repeat center center rgba(255,255,255,0.5);
	display: none;
}

#dropbox .preview.done .uploaded{
	display: block;
}



/*-------------------------
	Progress Bars
--------------------------*/



#dropbox .progressHolder{
	position: absolute;
	background-color:#252f38;
	height:12px;
	width:100%;
	left:0;
	bottom: 0;
	
	box-shadow:0 0 2px #000;
}

#dropbox .progress{
	background-color:#2586d0;
	position: absolute;
	height:100%;
	left:0;
	width:0;
	
	box-shadow: 0 0 1px rgba(255, 255, 255, 0.4) inset;
	
	-moz-transition:0.25s;
	-webkit-transition:0.25s;
	-o-transition:0.25s;
	transition:0.25s;
}

#dropbox .preview.done .progress{
	width:100% !important;
}


